* {
  box-sizing: border-box
}

/* Set height of body and the document to 100% */
body,
html {
  height: 500px;
  margin: 20px;
  font-family: Arial;
  background-color: #7ed6df;

}

.profile {
  position: absolute;
}

.title {
  color: black;
  text-align: center;
  margin-top: -20px;
}

.title p {
  margin-top: -14px;
}

.navbar {
  width: 900px;
  margin-left: 380px;
  margin-top: 10px;
  position: relative;
  border: 2px;

}

/* Style tab links */
.tablink {
  background-color: #555;
  color: black;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {

  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  width: 900px;
  margin-left: 380px;


}

#Welcome {
  background-color: white;
  text-align: center;
  overflow-y: scroll;
  height: 450px;


}

#News {
  background-color: white;
}

#Contact {
  background-color: white;
}

#About {
  background-color: white;
}